/* Style de base */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

/* Masquer le header lorsque scrolle vers le bas */
header.hidden {
    transform: translateY(-100%);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-top: 60px; /* Décalage pour le header fixe */
    background-color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
